@import '../../styles/index.scss';

.points {
  display: block;
  position: static;
  height: 12px;

  .list {
    @extend %list-reset;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .item {
      height: 6px;
      width: 6px;
      background-color: rgba($color: $light-color, $alpha: 0.4);
      border-radius: 50%;
      transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;

      &:not(:first-of-type) {
        margin-left: 18px;
      }

      &_active {
        transform: scale(2);
        background-color: rgba($color: $light-color, $alpha: 1);
      }
    }
  }
}
